#messages {
  max-height: 450px;
  overflow-y: auto;
  .avatar {
    margin: 0.5rem;
  }
}

.registration {
  width: 50%;
  margin: auto;
}

.btn {
  margin: 10px;
}

.btn a {
  color: white;
}

.container {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.card {
  padding-top: 20px !important;
  padding-bottom: 20px !important;

}
